Repository ISCP-2023-equipo-estudio/Grupo_TSDWAD_2do_Semestre, pull requests merged in 2023-10, with the labels that each got.

#90 Se crea conector
  Proyecto 2º Semestre/Backend/Controladores/conexion.py
Labels: Python

#91 se realizo correccion de footer, se agrego redireccio de login a landing y se agrego funcion alert
  Proyecto 2º Semestre/CSS/stylelogin.css
  Proyecto 2º Semestre/Paginas/login.html
Labels: css, JavaScript

#92 Modelo de casos de uso
  Proyecto 2º Semestre/Modelo de Casos de Uso/Modelo de Casos de Usos.pdf
Labels: documentation

#93 Agrego validaciones html y JS para registro
  Proyecto 2º Semestre/Paginas/registro.html
Labels: html, JavaScript

#94 Agrego README
  README.md
Labels: documentation

#95 Florencia carrillo cambios backend
  .vscode/settings.json
  Proyecto 2º Semestre/Backend/Controladores/ControladorPedidos.py
  Proyecto 2º Semestre/Backend/Controladores/ControladorProductos.py
  Proyecto 2º Semestre/Backend/Controladores/ControladorUsuarios.py
  Proyecto 2º Semestre/Backend/Controladores/ControladorVentas.py
  Proyecto 2º Semestre/Backend/Controladores/__pycache__/ControladorProductos.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Entidades/DetallePedido.py
  Proyecto 2º Semestre/Backend/Entidades/DetalleVenta.py
  Proyecto 2º Semestre/Backend/Entidades/EstadoPedido.py
  Proyecto 2º Semestre/Backend/Entidades/Pedido.py
  Proyecto 2º Semestre/Backend/Entidades/Proveedor.py
  Proyecto 2º Semestre/Backend/Entidades/Usuario.py
  Proyecto 2º Semestre/Backend/Entidades/Venta.py
  Proyecto 2º Semestre/Backend/Entidades/__pycache__/Producto.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Main.py
  Proyecto 2º Semestre/Backend/Pantallas/PantallaLogin.py
  Proyecto 2º Semestre/Backend/Pantallas/PantallaProducto.py
  Proyecto 2º Semestre/Backend/Pantallas/PantallaRegistroUsuario.py
  Proyecto 2º Semestre/Backend/Utils/Conector.py
  Proyecto 2º Semestre/Backend/Utils/__pycache__/Conector.cpython-311.pyc
Labels: Python

#96 Florencia carrillo 77 correccion diagramas
  Proyecto 2º Semestre/BBDD/Captura Tablas M.R.png
  Proyecto 2º Semestre/BBDD/Captura diagrama E.R.png
  Proyecto 2º Semestre/BBDD/Diagrama E.R Pet Boutique.drawio
  Proyecto 2º Semestre/BBDD/Diagrama tablas Pet Boutique.mwb
  Proyecto 2º Semestre/BBDD/Model BD Completo Sprint 2.mwb
  Proyecto 2º Semestre/BBDD/Modelo BD Sprint 2.png
  Proyecto 2º Semestre/BBDD/ScriptCompleto.sql
  Proyecto 2º Semestre/Diagrama de Clases/Clases UML .pdf
  Proyecto 2º Semestre/Diagrama de Clases/Clases UML .png
  Proyecto 2º Semestre/Diagrama de Clases/Diagrama de Clases UML.png
Labels: documentation

#100 Mejora de pag registro
  Proyecto 2º Semestre/CSS/styleRegistro.css
  Proyecto 2º Semestre/Paginas/registro.html
Labels: css

#102 actualización CRUD crear productos
  Proyecto 2º Semestre/Backend/Controladores/ControladorProductos.py
Labels: Python

#104 Unificacion css
  Proyecto 2º Semestre/CSS/contact.css
  Proyecto 2º Semestre/CSS/styleGaleria.css
  Proyecto 2º Semestre/CSS/styleRegistro.css
  Proyecto 2º Semestre/CSS/stylelogin.css
  Proyecto 2º Semestre/CSS/styles.css
  Proyecto 2º Semestre/Paginas/contacto.html
  Proyecto 2º Semestre/Paginas/galeria_productos.html
  Proyecto 2º Semestre/Paginas/landing.html
  Proyecto 2º Semestre/Paginas/login.html
  Proyecto 2º Semestre/Paginas/registro.html
Labels: css

#103 agrego CRUD listar productos
  Proyecto 2º Semestre/Backend/Controladores/ControladorProductos.py
Labels: Python

#106 VALIDACION EN W3C DE CSS Y HTML(VALIDADCIONES EN JS)
  Proyecto 2º Semestre/CSS/styles.css
  Proyecto 2º Semestre/Paginas/galeria_productos.html
  Proyecto 2º Semestre/Paginas/login.html
Labels: css, html

#108 se corrige metodo listar productos
  Proyecto 2º Semestre/Backend/Controladores/ControladorProductos.py
  Proyecto 2º Semestre/Backend/Controladores/__pycache__/ControladorProductos.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Entidades/__pycache__/Producto.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Entidades/__pycache__/Proveedor.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Main.py
  Proyecto 2º Semestre/Backend/Utils/__pycache__/Conector.cpython-311.pyc
Labels: Python

#109 Sebabusso83
  .vscode/settings.json
  Proyecto 2º Semestre/BBDD/Captura Tablas M.R.png
  Proyecto 2º Semestre/BBDD/Captura diagrama E.R.png
  Proyecto 2º Semestre/BBDD/Diagrama E.R Pet Boutique.drawio
  Proyecto 2º Semestre/BBDD/Diagrama tablas Pet Boutique.mwb
  Proyecto 2º Semestre/BBDD/Model BD Completo Sprint 2.mwb
  Proyecto 2º Semestre/BBDD/Modelo BD Sprint 2.png
  Proyecto 2º Semestre/BBDD/ScriptCompleto.sql
  Proyecto 2º Semestre/Backend/Controladores/ControladorPedidos.py
  Proyecto 2º Semestre/Backend/Controladores/ControladorProductos.py
  Proyecto 2º Semestre/Backend/Controladores/ControladorUsuarios.py
  Proyecto 2º Semestre/Backend/Controladores/ControladorVentas.py
  Proyecto 2º Semestre/Backend/Controladores/__pycache__/ControladorProductos.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Entidades/DetallePedido.py
  Proyecto 2º Semestre/Backend/Entidades/DetalleVenta.py
  Proyecto 2º Semestre/Backend/Entidades/EstadoPedido.py
  Proyecto 2º Semestre/Backend/Entidades/Pedido.py
  Proyecto 2º Semestre/Backend/Entidades/Proveedor.py
  Proyecto 2º Semestre/Backend/Entidades/Usuario.py
  Proyecto 2º Semestre/Backend/Entidades/Venta.py
  Proyecto 2º Semestre/Backend/Entidades/__pycache__/Producto.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Entidades/__pycache__/Proveedor.cpython-311.pyc
  Proyecto 2º Semestre/Backend/Main.py
  Proyecto 2º Semestre/Backend/Pantallas/PantallaLogin.py
  Proyecto 2º Semestre/Backend/Pantallas/PantallaProducto.py
  Proyecto 2º Semestre/Backend/Pantallas/PantallaRegistroUsuario.py
  Proyecto 2º Semestre/Backend/Utils/Conector.py
  Proyecto 2º Semestre/Backend/Utils/__pycache__/Conector.cpython-311.pyc
  Proyecto 2º Semestre/CSS/contact.css
  Proyecto 2º Semestre/CSS/styleGaleria.css
  Proyecto 2º Semestre/CSS/styleRegistro.css
  Proyecto 2º Semestre/CSS/stylelogin.css
  Proyecto 2º Semestre/CSS/styles.css
  Proyecto 2º Semestre/Diagrama de Clases/Clases UML .pdf
  Proyecto 2º Semestre/Diagrama de Clases/Clases UML .png
  Proyecto 2º Semestre/Diagrama de Clases/Diagrama de Clases UML.png
  Proyecto 2º Semestre/Modelo de Casos de Uso/Modelo de Casos de Usos.pdf
  Proyecto 2º Semestre/Paginas/contacto.html
  Proyecto 2º Semestre/Paginas/galeria_productos.html
  Proyecto 2º Semestre/Paginas/landing.html
  Proyecto 2º Semestre/Paginas/login.html
  Proyecto 2º Semestre/Paginas/registro.html
  README.md
Labels: Python

#111 se agrega metodo eliminar producto
  Proyecto 2º Semestre/Backend/Controladores/ControladorProductos.py
  Proyecto 2º Semestre/Backend/Main.py
Labels: Python
