Repository ISCP-2023-equipo-estudio/Grupo_TSDWAD_2do_Semestre, pull requests merged in 2023-09, with the labels that each got.

#11 Inserto estructura base HTML de Landing Page
  Proyecto 2º Semestre/Imagenes/Logo/favicon-32x32.png
  Proyecto 2º Semestre/Paginas/landing.html
Labels: html

#12 Vale angeletti
  Proyecto 2º Semestre/CSS/reset.css
  Proyecto 2º Semestre/CSS/styleGaleria.css
  Proyecto 2º Semestre/Imagenes/Balanceado/Adulto.png
  Proyecto 2º Semestre/Imagenes/Balanceado/Cachorro.png
  Proyecto 2º Semestre/Imagenes/Balanceado/Caniche-Adulto.png
  Proyecto 2º Semestre/Imagenes/Balanceado/Gato-Pescado.png
  Proyecto 2º Semestre/Imagenes/Balanceado/Gato-Pollo.png
  Proyecto 2º Semestre/Imagenes/Balanceado/Whiskas.png
  Proyecto 2º Semestre/Imagenes/Banner.png
  Proyecto 2º Semestre/Imagenes/Cuchas/GatoColgante.png
  Proyecto 2º Semestre/Imagenes/Ropa/BuzoFelpa.png
  Proyecto 2º Semestre/Imagenes/Ropa/BuzoMiami.png
  Proyecto 2º Semestre/Imagenes/Ropa/BuzoOrejasGato.png
  Proyecto 2º Semestre/Imagenes/Ropa/BuzoPuffer.png
  Proyecto 2º Semestre/Imagenes/Ropa/GorroPinguino.png
  Proyecto 2º Semestre/Imagenes/Ropa/SweterGato.png
  Proyecto 2º Semestre/JS/botonGaleria.js
  Proyecto 2º Semestre/Paginas/galeria_productos.html
Labels: html

#13 Agrego style css landing
  Proyecto 2º Semestre/CSS/stylelanding.css
  Proyecto 2º Semestre/Imagenes/Logo/Pet_Boutique2.png
  Proyecto 2º Semestre/Imagenes/Logo/portada.jpg
  Proyecto 2º Semestre/Imagenes/Logo/portadala.jpg
  Proyecto 2º Semestre/Paginas/landing.html
Labels: css

#15 creando pagina contacto
  Proyecto 2º Semestre/Paginas/contacto.html
Labels: html

#16 Añadido Funcionalidad de Login y Registro
  Proyecto 2º Semestre/.algo
  Proyecto 2º Semestre/BBDD/.algo
  Proyecto 2º Semestre/Backend/.algo
  Proyecto 2º Semestre/CSS/.algo
  Proyecto 2º Semestre/CSS/reset.css
  Proyecto 2º Semestre/CSS/styleGaleria.css
  Proyecto 2º Semestre/CSS/styleRegistro.css
  Proyecto 2º Semestre/CSS/stylelanding.css
  Proyecto 2º Semestre/CSS/stylelogin.css
  Proyecto 2º Semestre/Imagenes/Accesorios/Collar-Gato.png
  Proyecto 2º Semestre/Imagenes/Accesorios/Collar-Perro.png
  Proyecto 2º Semestre/Imagenes/Accesorios/Correa.png
  Proyecto 2º Semestre/Imagenes/Accesorios/Rascador.png
  Proyecto 2º Semestre/Imagenes/Accesorios/Transportador.png
  Proyecto 2º Semestre/Imagenes/Accesorios/Vertedero.png
  Proyecto 2º Semestre/Imagenes/Banner.png
  Proyecto 2º Semestre/Imagenes/Cuchas/Calabaza.png
  Proyecto 2º Semestre/Imagenes/Cuchas/CuchaExterior.png
  Proyecto 2º Semestre/Imagenes/Cuchas/Donnas.png
  Proyecto 2º Semestre/Imagenes/Cuchas/FormaGato.png
  Proyecto 2º Semestre/Imagenes/Cuchas/GatoColgante.png
  Proyecto 2º Semestre/Imagenes/Cuchas/Sillon.png
  Proyecto 2º Semestre/Imagenes/Juguetes/ArrojadorAutomatico.png
  Proyecto 2º Semestre/Imagenes/Juguetes/Huesos.png
  Proyecto 2º Semestre/Imagenes/Juguetes/JuegueteGato.png
  Proyecto 2º Semestre/Imagenes/Juguetes/PelucheGato.png
  Proyecto 2º Semestre/Imagenes/Juguetes/Raton.png
  Proyecto 2º Semestre/Imagenes/Juguetes/Sogas.png
  Proyecto 2º Semestre/Imagenes/Logo/Pet Boutique.png
  Proyecto 2º Semestre/Imagenes/Logo/Pet_Boutique2.png
  Proyecto 2º Semestre/Imagenes/Logo/favicon-32x32.png
  Proyecto 2º Semestre/Imagenes/Logo/mascotas.jpg
  Proyecto 2º Semestre/Imagenes/Logo/mujer.jpg
  Proyecto 2º Semestre/Imagenes/Logo/portada.jpg
  Proyecto 2º Semestre/Imagenes/Logo/portadala.jpg
  Proyecto 2º Semestre/Imagenes/Ropa/BuzoFelpa.png
  Proyecto 2º Semestre/Imagenes/Ropa/BuzoMiami.png
  Proyecto 2º Semestre/Imagenes/Ropa/BuzoOrejasGato.png
  Proyecto 2º Semestre/Imagenes/Ropa/BuzoPuffer.png
  Proyecto 2º Semestre/Imagenes/Ropa/GorroPinguino.png
  Proyecto 2º Semestre/Imagenes/Ropa/SweterGato.png
  Proyecto 2º Semestre/JS/botonGaleria.js
  Proyecto 2º Semestre/Paginas/contacto.html
  Proyecto 2º Semestre/Paginas/galeria_productos.html
  Proyecto 2º Semestre/Paginas/landing.html
  Proyecto 2º Semestre/Paginas/login.html
  Proyecto 2º Semestre/Paginas/registro.html
Labels: html

#21 Css y edit html del Contact
  Proyecto 2º Semestre/CSS/contact.css
  Proyecto 2º Semestre/Paginas/contacto.html
Labels: css

#23 Correcion conexion css a html
  Proyecto 2º Semestre/Paginas/login.html
  Proyecto 2º Semestre/Paginas/registro.html
Labels: css, html

#24 Florencianoelcarrillo
  Proyecto 2º Semestre/CSS/styles.css
  Proyecto 2º Semestre/Imagenes/Fondos/wave.svg
  Proyecto 2º Semestre/Imagenes/Logo/Diseño sin título.png
  Proyecto 2º Semestre/Imagenes/Logo/perros.png
  Proyecto 2º Semestre/Paginas/landing.html
Labels: css, Boostrap

#27 "cambios en stylelogin.css"
  Proyecto 2º Semestre/CSS/stylelogin.css
  Proyecto 2º Semestre/Paginas/login.html
Labels: css

#38 Responsive del login
  Proyecto 2º Semestre/CSS/stylelogin.css
  Proyecto 2º Semestre/Paginas/login.html
Labels: css, html

#42 Css nav responsive
  Proyecto 2º Semestre/CSS/contact.css
  Proyecto 2º Semestre/Imagenes/menu.svg
  Proyecto 2º Semestre/Paginas/contacto.html
Labels: css

#43 Responsive Galeria
  Proyecto 2º Semestre/CSS/styleGaleria.css
  Proyecto 2º Semestre/Paginas/galeria_productos.html
Labels: css, html

#46 se corrige navbar, grilla productos y responsive
  Proyecto 2º Semestre/CSS/styleGaleria.css
  Proyecto 2º Semestre/CSS/styleRegistro.css
  Proyecto 2º Semestre/CSS/stylelogin.css
  Proyecto 2º Semestre/CSS/styles.css
  Proyecto 2º Semestre/Paginas/contacto.html
  Proyecto 2º Semestre/Paginas/galeria_productos.html
  Proyecto 2º Semestre/Paginas/landing.html
  Proyecto 2º Semestre/Paginas/login.html
  Proyecto 2º Semestre/Paginas/registro.html
Labels: css, Boostrap

#52 Agrego entidad usuario
  Proyecto 2º Semestre/Backend/Entidades/usuario.py
Labels: Python

#53 Agrego Archivos BBDD
  Proyecto 2º Semestre/BBDD/Captura Tablas M.R.png
  Proyecto 2º Semestre/BBDD/Captura diagrama E.R.png
  Proyecto 2º Semestre/BBDD/Diagrama E.R Pet Boutique.drawio
  Proyecto 2º Semestre/BBDD/Diagrama tablas Pet Boutique.mwb
Labels: documentation

#56 se agrega Diagrama de Clases
  Proyecto 2º Semestre/Diagrama de Clases/Diagrama de Clases UML.png
Labels: documentation

#60 Validaciones html
  Proyecto 2º Semestre/Imagenes/Logo/PetBoutique.png
  Proyecto 2º Semestre/Paginas/galeria_productos.html
  Proyecto 2º Semestre/Paginas/landing.html
  Proyecto 2º Semestre/Paginas/login.html
Labels: html

#61 Se realiza correccion de validacion de html
  Proyecto 2º Semestre/Paginas/contacto.html
Labels: html

#62 Emiliano arce
  Proyecto 2º Semestre/CSS/styleRegistro.css
  Proyecto 2º Semestre/Paginas/registro.html
Labels: css, html
